name: plots

on: push
#   push:
#     paths:
#     - '**.sch'
#     - '**.kicad_pcb'
#   pull_request:
#     paths:
#       - '**.sch'
#       - '**.kicad_pcb'

jobs:
  plot:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: nerdyscout/kicad-exports@v2.1
      with:
      # Required - kibot config file
        config: plot.kibot.yaml
      # optional - prefix to output defined in config
        dir: plots
      # optional - schematic file
        schema: 'hardware/hardware.sch'
      # optional - PCB design file
        board: 'hardware/hardware.kicad_pcb'
    - name: upload results
      uses: actions/upload-artifact@v2
      with:
        name: plots
        path: plots

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: nerdyscout/kicad-exports@v2.1
      with:
      # Required - kibot config file
        config: docs.kibot.yaml
      # optional - prefix to output defined in config
        dir: docs
      # optional - schematic file
        schema: 'hardware/hardware.sch'
      # optional - PCB design file
        board: 'hardware/hardware.kicad_pcb'
    - name: upload results
      uses: actions/upload-artifact@v2
      with:
        name: docs
        path: docs
